version: "3.8"
services:
  server:
    build:
      context: .
      dockerfile: docker/Dockerfile.se
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL}
    depends_on:
      - postgres
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.fe
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL}
    depends_on:
      - postgres
  ws:
    build:
      context: .
      dockerfile: docker/Dockerfile.ws
    ports:
      - "8081:8081"
    environment:
      DATABASE_URL: ${DOCKER_DATABASE_URL}
    depends_on:
      - postgres
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
